.banner-container {
  position: fixed;
  width: 288px;
  height: 458px;
  border: 4px solid rgb(238,129,41);
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(203,226,239, 1);
}

.banner-info-block {
  position:absolute;
}

.banner-container>p {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  text-transform: uppercase;
  font-size: 130%;
  background: rgb(238,129,41);
  color: white;
}

.banner-info-block>p:first-child {
  margin-left: 50px;
  text-align: center;
  font-family: arial;
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 17px;
}

.banner-info-block p:nth-child(2) {
  margin-left: 50px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-top: -15px;
}

p>sup, p>sub {
  font-size: 20px;
}

.banner-info-block ul {
  position: relative;
  margin-top: -40px;
  margin-left: -25px;
  margin-right: 0px;
}

ul li {
  position: relative;
  height: 33px;
  color: grey;
  font-family: arial;
  list-style-type: none;
  margin-bottom: 1px;
  padding-left: 30px;
}

ul li:nth-child(odd) {
  background: rgb(232,242,251);
}

ul li:nth-child(even) {
  background: rgb(245,245,246);
}

li::before {
  font-weight: bold;
  color: rgb(152,191,12);
  margin-right: 10px;
  content: "\2713";
}

.banner-info-block p:last-of-type {
  width: 250px;
  height: 40px;
  text-align: center;
  background: rgb(238,129,41);
  margin-left: 20px;
  border-radius: 5px;
  padding-bottom: 0px;
  box-shadow: 0 -3px rgb(179,86,11) inset;
}

a {
  padding-top: 10px;
  height: inherit;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
