.customer-first {
    margin-top: 90px;
}

.customer-first-img {
    width: 60%;
    float: left;
    margin: 0 40px 0 0;
    box-shadow: 4px 3px 14px -1px rgba(0, 0, 0, 0.86);
}

.customer h2 {
    color: #D4422F;
    margin: 0;
}

.customer h5 {
    color: #B0B0B0;
    margin: 5px auto;
}

.customer p {
    margin: 0;
}

.customer-first-info {
    text-align: right;
    padding: 230px 130px 0 0;
}

.customer-first:after {
    content: '';
    display: block;
    clear: both;
}

.customer-second {
    margin: 25px 0 25px 0;
}

.customer-second-img {
    width: 60%;
    float: right;
    margin: 0 0 0 40px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 29px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 29px 1px rgba(0, 0, 0, 0.38);
}

.customer-second-info {
    text-align: left;
    padding: 230px 0 0 130px;
}

.customer-second:after {
    content: '';
    display: block;
    clear: both;
}
